/*selector universal*/
*{
    margin: 0%;
    font-family: 'Lato', sans-serif;
}
/*importacion de tipografia*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;900&display=swap');
/*selector por etiqueta*/
.spam {
    color:blue;
}
/*selector por id*/
#option_one, #option_three {
    font-weight: 900;
    background-color:bisque;
    margin-left: 20px;
}
/*selector por clase*/
.options_group{
    background-color:#ffff00;
}
.options_group.other_option{
    font-size: 30px;
}
/*selector por atributo*/
[disabled]{
    background-color: bisque;
    
}
